@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&family=Rubik+80s+Fade&display=swap');

/* Parametros generales */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


body{
    font-family: 'Hind Siliguri', sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: whitesmoke;
}

h1 {

    font-weight: 700;
    font-size: 3.6rem;
    margin: 1.6rem 0;
}

h2{ 
    font-weight: 700;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

p{

    font-weight: 400;
    font-size: 1.8rem;
    margin: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}

.row{

    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section{

    padding: 100px 0;
}

/* Sección Header */

header{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url('../images/web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.logo h1{
    font-family:'Rubik 80s Fade';
    font-size: 5rem;
    color: rgb(236, 236, 236);
    margin: 0;
}

nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    margin: 1.5rem;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover{
    color: #0b3866;
    transition: .5% ease-in-out;
}

.texto-header {
    text-align: left;
    margin: 80px;
}

.texto-header p{
    font-style: oblique;
}

.imagen-header img{
    margin-right: 12rem;
    float: right;
    display: block;
    border-radius: 8px;
    max-width: 27%;
}

img:hover {
opacity: 0.5;
transition: ease-in-out;
}

/* Sección Blog*/

.titulos {
    height: 35vh;
    background-color: whitesmoke;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulos h1,h2{
    text-align: center;
    margin: auto;
}

.titulos p{
    text-align: center;
    margin: auto;
    color: dimgrey;
}


.blog{

    height: 65vh;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.blog article {

    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px;
    text-align: center; 
    font-size: 40px;
    margin: auto 6.5rem;

}

.blog img{
    border-radius: 8px;
    width: 350px;
    height: 350px;
}



/* Sección Jumbotron*/

.jumbotron{
    height: 75vh;
    background-color:whitesmoke;
    gap: 10px;
    padding: 10px;
}

.jumbotron img{
    margin-left: 7rem;
    float: left;
    display: flex;
    border-radius: 8px;
    max-width: 45%; 
}


form{
    align-items:center ;
    float: center;
    margin: 1px 0;
    margin-left: 80rem;
}

form h1,p{
    text-align: center;
    margin: 2rem;
}

input{
    font-size: 1.8rem;
}

input[type=text],
input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 16rem;
    display: block;
    border: 1px solid #ccc;
}

input[type=button]{
    width: 50%;
    background-color: #45caff;
    color: white;
    padding: 14px 20px;
    margin: 8px 16rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;  
}

input[type=button]:hover{
    opacity: 0.8;
    transition: ease-in-out;
}

input::placeholder{
    font-size: 1.3rem;
    color: #ccc;
}   



/* Sección Adicionales*/

.adicionales{
    height: fit-content;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.adicionales article{
    font-size: 30%;
    width: 300px;
    height: 300px;
    border-radius: px;
    border: 2px;
    text-align: center;
    font-size: 20px;
    color: rgba(32, 23, 23, 0.484);
    margin: 0 auto;
}

.adicionales article h2,p{
    color: rgba(3, 2, 2, 0.484);
}   

/* Sección Footer*/

footer {
    height: fit-content;
    grid-area: footer;
    background-color: white ;
}

footer p{
    color: #62686e;
}

/* Sección Móvil*/
@media only screen and (max-width:617px) {
    nav{
        flex-direction: column;
    }
}